In [1]:
import pandas as pd

In [2]:
#path
csv_path ='budget_data.csv'

In [3]:
#read csv
py_bank_df = pd.read_csv(csv_path)

py_bank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
#get total months
month_count = py_bank_df['Date'].count()
month_count

86

In [5]:
#total revenue(profit/loss)
total_profit_loss = py_bank_df['Profit/Losses'].sum()
total_profit_loss

38382578

In [28]:
#average change of profit
Profit_Loss_Diff = py_bank_df["Profit/Losses"].diff().mean()

Profit_Loss_Diff

-2315.1176470588234

In [18]:
#greatest increase and decrease 

greatest_increase = py_bank_df["Profit/Loss Diff"].max()
greatest_decrease = py_bank_df["Profit/Loss Diff"].min()

greatest_increase_row = py_bank_df.loc[py_bank_df["Profit/Loss Diff"]==greatest_increase,"Date"]
greatest_decrease_row = py_bank_df.loc[py_bank_df["Profit/Loss Diff"]==greatest_decrease,"Date"]

greatest_decrease_date = greatest_decrease_row.iloc[0]
greatest_increase_date = greatest_increase_row.iloc[0]

print(greatest_decrease_date, greatest_increase_date)

Sep-2013 Feb-2012

In [22]:
print("Financial Analysis")
print("--------------------------------")
print(f"Total Months: {month_count}")
print(f"Total Revenue: ${total_profit_loss}")
print(f"Average Revenue Change: ${Profit_Loss_Diff}")
print(f"Greatest Increase: {greatest_increase}({greatest_increase_date})")
print(f"Greatest Decrease: {greatest_decrease}({greatest_decrease_date})")

Financial Analysis
--------------------------------
Total Months: 86
Total Revenue: $38382578
Average Revenue Change: $-2315.1176470588234
Greatest Increase: 1926159.0(Feb-2012)
Greatest Decrease: -2196167.0(Sep-2013)